:root {
  --color-grey-dark-1: #252529;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  /* @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  } */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
}

h2 {
  font-size: calc(2.3rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}

h3 {
  font-size: calc(2.1rem + 0.6vw);
  font-weight: 600;
  padding-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
} */

small {
  font-size: 0.875em;
}

.text-muted {
  color: #6c757d !important;
  /* color: red; */
}

.block {
  display: block;
}

.navbar {
  height: 5rem;
  background-color: rgb(204, 204, 204);
  display: flex;
}
.section {
  padding: 5rem 0;
}

.navbar,
.section {
  display: grid;
  /* 576px - 2x20px */
  grid-template-columns: minmax(12px, 1fr) minmax(auto, 540px) minmax(12px, 1fr);
}

.nav-center {
  grid-column: 2/3;
  background-color: greenyellow;
}

.section-center {
  grid-column: 2/3;
  padding: 0 2rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
}

/* ABOUT */
.about {
  background-color: rgb(131, 131, 131);
}

.about-center {
  background-color: greenyellow;
}

.about-pic {
  /* height: 300px; */
  background-color: rgb(199, 199, 199);
  /* padding: 3rem 1.5rem; */
  margin-bottom: 2rem;
}

.about-pic > img,
.project img {
  width: 100%;
}

.about-text {
  /* padding: 3rem 1.5rem; */
  margin-bottom: 2rem;
  background-color: rgb(199, 199, 199);
}

.about-title {
  padding-bottom: 1.5rem;
}

.about-position {
  margin-left: 0.15em;
}

/* PROJECTS */
.projects {
  background-color: rgb(197, 197, 197);
}

.projects-center {
  background-color: greenyellow;
}

.project {
  /* padding: 3rem 1.5rem; */
  margin-bottom: 5rem;
  /* text-align: center; */
  /* background-color: rgb(121, 121, 121); */
}

.figure-caption {
  font-size: 1.4rem;
  color: #6c757d;
  /* color: red; */
}

.figure-img {
  padding-bottom: 1.5rem;
}

/* TESTIMONIALS */
.testimonials {
  background-color: grey;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote > p {
  line-height: 3rem;
  font-size: 2rem;
}

.testimonials-center {
  background-color: greenyellow;
}

.testimonial {
  /* padding: 3rem 1.5rem; */
  margin-bottom: 2.4rem;

  /* text-align: center; */
}

/* FOOTER */
.footer {
  background-color: rgb(207, 207, 207);
}

.footer-links {
  background-color: greenyellow;
  list-style-type: none;
  text-align: center;
}

/* MEDIA */
/* MEDIA */
/* MEDIA */
/* MEDIA */
/* MEDIA */
/* MEDIA */
/* MEDIA */
/* MEDIA */

@media screen and (min-width: 576px) {
  .footer-links {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 2rem; */
  }

  .nav-links li {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar,
  .section {
    grid-template-columns: 1fr minmax(auto, 720px) 1fr;
  }

  .projects-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
    column-gap: 7rem;
  }
  .projects-title {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 992px) {
  .navbar,
  .section {
    grid-template-columns: 1fr minmax(auto, 960px) 1fr;
  }

  .about-center {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
    column-gap: 3rem;
  }

  .about-title {
    grid-column: 1/3;
  }

  .testimonials-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    column-gap: 10rem;
  }
  .testimonial-title {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 5.2rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .navbar,
  .section {
    grid-template-columns: 1fr minmax(auto, 1140px) 1fr;
  }

  .projects-center {
    grid-template-columns: repeat(4, 1fr);
  }
  .testimonials-center {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-links {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .navbar,
  .section {
    grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
  }
}
