*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #212529;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.7rem;
}

.container {
  display: grid;

  grid-template-rows: 6vh repeat(4, min-content);

  grid-template-columns:
    [full-start] minmax(5rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end])
    [center-end]
    minmax(5rem, 1fr) [full-end];
}

.header {
  grid-column: full-start / full-end;
  background-color: #ffffff;
}

.about-title-area {
  grid-column: 1 / -1;
}

.about-pic-area {
  grid-column: full-start / col-end 4;
}

.about-text-area {
  grid-column: col-start 5 / full-end;
}

.p-8 {
  /* padding: 0 8rem; */
}

.light-bgn {
  background-color: #cecbcb;
}

.about__img {
  width: 100%;
}

@media only screen and (max-width: 50em) {
  .about-pic-area {
    grid-column: 1 / -1;
  }

  .about-text-area {
    grid-column: 1 / -1;
  }
}

/* .projects {
  background-color: #ededed;
} */

/* .testimonials {
  background-color: #ffffff;
} */

/* .footer {
  background-color: #0088cc;
}  */
